.logo{
    display:flex;
    align-items:center;
    padding:30 30px; 
}

.logo h4{
    padding-top: 35px;
}

.form-group{
    padding: 5px;
}

button{
    margin: 20px 0px;
}


#tabla1{ 
    border: 1px solid; 
    width: 280px;
    display:inline-table;
} 

#cuerpotab1{ 
    padding: 4 4 4 4px;
} 
